* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: rgb(64, 64, 97);
}

.quiz-container {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quiz-container h1 {
    font-size: 40px;
    color: rgb(58, 58, 58);
    font-weight: 700;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.quiz h2 {
    font-size: 20px;
    color: rgb(58, 58, 58);
    font-weight: 600;
    padding: 10px 0;
}

.btn {
    background-color: white;
    color: #222;
    font-weight: bold;
    width: 100%;
    border: 1px solid #222;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: white;
}

.btn:disabled {
    cursor: not-allowed;
}

#next-btn {
    background-color: #321d6d;
    color: white;
    font-weight: bold;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: green;

}

.incorrect {
    background: red;
}